#divGeral {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
  }
  
  .h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: #fff;
    margin-right: 10px;
  }
  
  
  #errTitulo {
    display: block;
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }