
  body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
 
  #divGeral {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  
  .h3 {
    font-size: 1.5em;
    text-align: center;
  }
  
  
  .p {
    font-size: 1.2em;
    text-align: center;
  }
  
 
  label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  
  button[type="submit"] {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  #ErroEmail {
    display: block;
    background-color: #f44336;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
  }


  button[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
  }