.header {
  background-color: #7991CF;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.397);
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  margin: 0 !important;
  font-size: 15px;
  color: white !important;
}