.TopBar {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 65px;
  background-color: #7991CF;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
  
.TopBar img {
  padding-left: 30px;
}
  
.h1 {
  font-family: 'Inter', sans-serif;
}
  
.my-button {
  transition: background-color 0.4s ease-out;
  background-color: #7991CF;
  width: 225px;
  height: 35px;
  border-radius: 13px;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
}
  
.my-button:hover {
  background-color: #1c2231 !important;
}
  
.my-button:active {
  transform: translateY(2px);
}
  
.button-search {
  display: flex;
  align-items: center;
  margin-left: 250px;
  margin-right: 250px;
  margin-bottom: 75px;
  justify-content: space-between;
}
  
.search-bar {
  display: flex;
  background-repeat: no-repeat;
}

.search-bar input{
  font-family: 'Inter', sans-serif; 
  outline-width: 0;
  border: none;
  color: gray;
  background-color: #D9D9D9;
  border-radius: 13px;
  width: 225px;
  height: 35px;
  text-indent: 10px;
}
.search-filter{
  display: flex;  
}

.filter button{
  background-color: #D9D9D9;
  border: none;
  margin-left: 10px;
  width: 75px;
  border-radius: 13px;
  transition: background-color 0.2s ease-in-out;
}

.filter button:hover{
  background-color: #7991CF;
}

.filter button img{
  transform: scale(0.7);
}



.card-body {
  margin-bottom: 20px;
  margin-left:250px;
  margin-right: 250px;
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #E6E7ED;
  border: none;
  height: 120px;
    
}
.title, .type, .description, h3{
    margin-top: 0px;
    font-family: 'Inter', sans-serif; 
}
.description {
    overflow-wrap: break-word;
    max-width: 500px;
    flex-grow: 1;
    }

.actions button{
    border: none;
    background-color:transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.edit-container button.BotaoDeAcao img {
  width: 100%;
  height: 100%;
  transform: scale(0.7); 
  transition: all 0.2s ease-in-out;
}

.edit-container button.BotaoDeAcao:hover img {
  transform: scale(1.0);
}


.actions {
  display: flex;
  align-items: center;
  height: 100px;
  margin-right: 25px;
  
}
.edit-container {
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
.edit-container span {
  font-size: 15px;
  font-family: 'Inter', sans-serif; 

}

.line {
  height: 65px;
  border-left: 1px solid #8994CD;
  margin: 0 10px;
  margin-top: 10px;
}

.modalBackground {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
   
.modalBox {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 22px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  align-items: flex-start;
}

.modalContent {
  display: flex;
  flex-direction: column;
}
  
.modalProp {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
} 

.modalBox button{
  width:50%;
  margin: 0 auto;
}