.app {
    --primary: #7991CF;
    --secundary: #E6E7ED;
    --text-color: #1C3245;
    --button-primary: #266196;
    --button-secundary: #48BC62;
    --button-primary-hover: #1C3245;
    --button-secundary-hover: #268852;
    --button-terciary: #7991CF;
    --button-terciary-hover: #546590;
    --button-gray: #D9D9D9;
    --button-gray-hover: #828282;
}

* {
    margin: 0;
    padding: 0;
}