.button-search {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  margin-bottom: 1em;
  gap: 1em;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  button {
    max-width: 220px;
  }
}

.button-search-flex {
  padding: 0 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 1em;
  gap: 1em;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1em;

  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
  }
}

.container-list-notice {
  padding: 1em;
}

.content-list-notice {
  display: flex;
  flex-direction: column;
  align-items: center;
}
